<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jayaram Majeti | Home</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="header-container">
            <h1 class="logo">Portfolio</h1>
            <nav>
                <ul class="navigation">
                    <ul class="navigation">
                        <li><a href="./">Home</a></li>
                        <li><a href="./about">About</a></li>
                        <li><a href="./pictures">Pictures</a></li>
                        <li><a href="./schedule">Schedule</a></li>
                        <li><a href="./media">Media</a></li>
                        <li><a href="./contact">Contact</a></li>
                        <li><a href="./game">Tic Tac Toe</a></li>

                </ul>
            </nav>
        </div>

    </header>

    <section id="about" class="about-me-section">
        <div class="about-me-content">
            <aside class="about-me-text">
                <h2>A Glimpse Into Jayaram's World</h2>
                <p>Hi, I'm <strong>Jayaram Majeti </strong>. Originally from India, I have always been passionate about technology and innovation. My hobbies include playing cricket, a sport I've loved since childhood, and watching movies, which has been a great way to relax and unwind.</p>
                <p>I moved to the USA to pursue a Master's degree at <em>Southern Illinois University Carbondale (SIUC)</em>, a journey that not only advanced my academic knowledge but also enriched my life experiences. During my studies, I embraced the philosophy that <q>knowledge is power</q>, a belief that fueled my passion for teaching and learning.</p>
                <blockquote>
                    "The only way to do great work is to love what you do."
                    <cite>— Steve Jobs</cite>
                </blockquote>
                <p>This philosophy has guided me through my transition from India to the USA, driving my pursuit of excellence in web development.</p>
            </aside>            
            <div class="about-me-photo">
                <img src="/images/pic3.jpeg" alt="Jayaram">
            </div>
        </div>
    </section>
    

    <footer class="footer" id="contact">
        <div class="footer-content">
          <div class="contact-info centered">
            <h3>Contact Us</h3>
            <p><i class="fas fa-envelope"></i> Email: <a href="mailto:jayaram.majeti@siu.edu">jayaram.majeti@siu.edu</a></p>
            <p><i class="fas fa-phone"></i> Phone: 618-901-6361</p>
            <p><i class="fas fa-map-marker-alt"></i> Address: 407 W College Street, Carbondale, IL</p>
          </div>        
        </div>
    </footer>
    
</body>
</html>
