
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jayaram Majeti | Home</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="header-container">
            <h1 class="logo">Portfolio</h1>
            <nav>
                <ul class="navigation">
                    <ul class="navigation">
                        <li><a href="./">Home</a></li>
                        <li><a href="./about">About</a></li>
                        <li><a href="./pictures">Pictures</a></li>
                        <li><a href="./schedule">Schedule</a></li>
                        <li><a href="./media">Media</a></li>
                        <li><a href="./contact">Contact</a></li>
                        <li><a href="./game">Tic Tac Toe</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section id="travelling" class="travelling-section">
        <h2>Exploring Horizons</h2>
        <nav class="photo-gallery">
            <ul>
                <li><a href="https://en.wikipedia.org/wiki/Kathmandu_Valley"><img src="/images/pic4.jpg" alt="Description 1" title="Nepal"> Nepal </li></a>
                <li><a href="https://www.yelp.com/biz/hindu-temple-carbondale"><img src="/images/pic2.jpeg" alt="Description 2" title="Carbondale"> Carbondale </li></a>
                <li><a href="https://www.nutella.com/int/en/discover-the-news/nutella-cafe"><img src="/images/pic5.jpeg" alt="Description 3" title="Chicago"> Chicago </li></a>
                <li><a href="https://en.wikipedia.org/wiki/California"><img src="/images/pic6.JPG" alt="Description 4" title="California"> California </li></a>
                <li><a href="https://en.wikipedia.org/wiki/Goa"><img src="/images/pic13.jpeg" alt="Description 5" title="Goa"> Goa</li></a>
                <li><a href="https://www.tamilnadutourism.tn.gov.in/destinations/ooty"><img src="/images/pic8.jpeg" alt="Description 6" title="Ooty"> Ooty </li></a>
            </ul>
        </nav>
    </section>
    
    <footer class="footer" id="contact">
        <div class="footer-content">
          <div class="contact-info centered">
            <h3>Contact Us</h3>
            <p><i class="fas fa-envelope"></i> Email: <a href="mailto:jayaram.majeti@siu.edu">jayaram.majeti@siu.edu</a></p>
            <p><i class="fas fa-phone"></i> Phone: 618-901-6361</p>
            <p><i class="fas fa-map-marker-alt"></i> Address: 407 W College Street, Carbondale, IL</p>
          </div>        
        </div>
    </footer>
      
    
</body>
</html>
