

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jayaram Majeti | Home</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="header-container">
            <h1 class="logo">Portfolio</h1>
            <nav>
                <ul class="navigation">
                    <ul class="navigation">
                        <li><a href="./index">Home</a></li>
                        <li><a href="./about">About</a></li>
                        <li><a href="./pictures">Pictures</a></li>
                        <li><a href="./schedule">Schedule</a></li>
                        <li><a href="./media">Media</a></li>
                        <li><a href="./contact">Contact</a></li>
                        <li><a href="./game">Tic Tac Toe</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section class="schedule-section">
        <h2>Weekly Schedule</h2>
        <table border="1">
            <thead>
                <tr>
                    <th style="padding: 30px 10px;">Time / Day</th>
                    <th style="padding: 30px 10px;">9 AM - 10 AM</th>
                    <th style="padding: 30px 10px;">10 AM - 11 AM</th>
                    <th style="padding: 30px 10px;">11 AM - 12 PM</th>
                    <th style="padding: 30px 10px;">12 PM - 1 PM</th>
                    <th style="padding: 30px 10px;">1 PM - 2 PM</th>
                    <th style="padding: 30px 10px;">2 PM - 3 PM</th>
                    <th style="padding: 30px 10px;">3 PM - 4 PM</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th >Monday</th>
                    <td> Break-fast </td>
                    <td> Class</td>
                    <td> Study </td>
                    <td> Lunch </td>
                    <td> Lunch </td>
                    <td>TA Hours</td>
                    <td> Sports </td>
                </tr>
                <tr>
                    <th>Tuesday</th>
                    <td>Break-fast</td>
                    <td>Study</td>
                    <td>Study</td>
                    <td>Class</td>
                    <td>Class</td>
                    <td>Study</td>
                    <td>Sports</td>
                </tr>
                <tr>
                    <th>Wednesday</th>
                    <td>Break-fast</td>
                    <td>Study</td>
                    <td>Cooking</td>
                    <td>Study</td>
                    <td>Class</td>
                    <td>TA Hours</td>
                    <td>Sports</td>
                </tr>
                <tr>
                    <th>Thursday</th>
                    <td>Break-fast</td>
                    <td>Study</td>
                    <td>Class</td>
                    <td>Study</td>
                    <td>Class</td>
                    <td>Study</td>
                    <td>Sports</td>
                </tr>
                <tr>
                    <th>Friday</th>
                    <td>Break-fast</td>
                    <td>Study</td>
                    <td>Cooking</td>
                    <td>Class</td>
                    <td>Study</td>
                    <td>Class</td>
                    <td>Sports</td>
                </tr>
                <tr>
                    <th>Saturday</th>
                    <td>Break-fast</td>
                    <td>Cooking</td>
                    <td>Rest</td>
                    <td>Study</td>
                    <td>Rest</td>
                    <td>Study</td>
                    <td>Sports</td>
                </tr>
                <tr>
                    <th>Sunday</th>
                    <td>Break-fast</td>
                    <td>Cooking</td>
                    <td>Rest</td>
                    <td>Study</td>
                    <td>Rest</td>
                    <td>Study</td>
                    <td>Sports</td>
                </tr>
            </tbody>
        </table>
    </section>
    
    <footer class="footer" id="contact">
        <div class="footer-content">
          <div class="contact-info centered">
            <h3>Contact Us</h3>
            <p><i class="fas fa-envelope"></i> Email: <a href="mailto:jayaram.majeti@siu.edu">jayaram.majeti@siu.edu</a></p>
            <p><i class="fas fa-phone"></i> Phone: 618-901-6361</p>
            <p><i class="fas fa-map-marker-alt"></i> Address: 407 W College Street, Carbondale, IL</p>
          </div>        
        </div>
    </footer>
      
    
</body>
</html>